{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
{% endblock %}

{% block body %}
<section class="admin-dashboard">
  <h1>Modifier la catégorie</h1>

  {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Mettre à jour</button>
  {{ form_end(form) }}

  <a href="{{ path('app_category_index') }}" class="back-link">← Retour à la liste</a>
</section>
{% endblock %}
