{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block stylesheets %}
{{ parent() }}
<link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
{% endblock %}

{% block body %}
<section class="admin-dashboard">
  <h1>Ajouter une catégorie</h1>

  {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn">Créer</button>
  {{ form_end(form) }}

  <a href="{{ path('app_admin_dashboard') }}" class="back-link">← Retour au dashboard</a>
</section>
{% endblock %}
